<cs-data-view *ngIf="item" i3eParentProcessor>

  <cs-section-block header="ข้อมูลโครงการ" level="3" class="cl-view-display">
    <div>
      <label>ชื่อโครงการ : </label>
      <span>{{ item.name }}</span>
    </div>
    <cs-section-block header="1.ข้อมูลเจ้าของโครงการ" class="cl-view-display">
      <div>
        <label>เจ้าของโครงการ : </label>
        <span>{{ item.owner }}</span>
      </div>
    </cs-section-block>

    <cs-section-block header="2.ข้อมูลที่อยู่โครงการ" class="cl-view-display">
      <div>
        <label>ที่อยู่โครงการ : </label>
        <span>{{ item.address }}</span>
      </div>
      <div>
        <label>โทรศัพท์ : </label>
        <span>{{ item.phone }}</span>
      </div>
      <div>
        <label>แฟ็กซ์ : </label>
        <span>{{ item.fax }}</span>
      </div>
    </cs-section-block>

    <cs-section-block header="3.ข้อมูลผู้ติดต่อ" class="cl-view-display">
      <div *ngFor="let contact of item.contacts; let i=index">
        <label>ผู้ติดต่อ {{ i + 1 }}</label>
        <div>
          <label>ชื่อเรียก : </label>
          <span>{{ contact.alias }}</span>
        </div>
        <div>
          <label>ตำแหน่ง : </label>
          <span>{{ contact.position }}</span>
        </div>
        <div>
          <label>E-mail : </label>
          <span>{{ contact.email }}</span>
        </div>
        <div>
          <label>Line ID : </label>
          <span>{{ contact.lineId }}</span>
        </div>
        <div>
          <label>เบอร์โทรติดต่อ : </label>
          <div style="display: inline-block; vertical-align: top; margin-top: 0px;">
            <div *ngFor="let phone of contact.phones">{{ phone.phone }}</div>
          </div>
        </div>
      </div>
    </cs-section-block>

    <cs-section-block header="4.ข้อมูลบัญชีธนาคาร" class="cl-view-display">
      <div *ngFor="let bankAccount of item.bankAccounts; let i=index">
        <label>บัญชี {{ i + 1 }}</label>
        <div>
          <label>เลขที่บัญชี : </label>
          <span>{{ bankAccount.code }}</span>
        </div>
        <div>
          <label>ชื่อบัญชี : </label>
          <span>{{ bankAccount.name }}</span>
        </div>
        <div>
          <label>ประเภทบัญชี : </label>
          <span>{{ bankAccount.category }}</span>
        </div>
        <div>
          <label>ธนาคาร : </label>
          <span>{{ bankAccount.bank }}</span>
        </div>
        <div>
          <label>สาขา : </label>
          <span>{{ bankAccount.branch }}</span>
        </div>
      </div>
    </cs-section-block>
  </cs-section-block>

  <pre>{{ item | json }}</pre>
</cs-data-view>
