<cs-data-list i3eParentProcessor>
  <div *ngIf="items">
    <item-not-found *ngIf="items.length === 0"
      [subtitle]="(itemQuery.term)? 'for: ' + itemQuery.term : 'No any data'"></item-not-found>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of items; let inx = index" [csDataListSelected]="[item.id]">
        <mat-icon mat-list-icon [color]="getIconColor(item)">{{ getIconName(item) }}</mat-icon>
        <h3 mat-line>{{ item.code }} {{ item.project.code }} {{ item.project.name }}</h3>
        <div mat-line class="list-second-line">{{ item.requester.code }} {{ item.requester.name }}</div>
      </a>
    </mat-nav-list>
  </div>
</cs-data-list>
