<cs-data-view *ngIf="item" i3eParentProcessor>
  <!--<cs-section-block header="1.ข้อมูลโครงการ" level="4" class="cl-view-display">
    <div>
      <label>ชื่อโครงการ : </label>
      <span>{{ item.project }}</span>
    </div>
    <div>
      <label>ที่อยู่จัดส่ง : </label>
      <span>{{ item.shippingAddress }}</span>
    </div>
  </cs-section-block>

  <cs-section-block header="2.ข้อมูลผู้ขอ" level="4" class="cl-view-display">
    <div>
      <label>ชื่อพนักงาน : </label>
      <span>{{ item.requester }}</span>
    </div>
    <div>
      <label>ผู้ติดต่อ : </label>
      <span>{{ item.contactInformation }}</span>
    </div>
  </cs-section-block>

  <cs-section-block header="3.ข้อมูลผู้ขาย/รับจ้าง" level="4" class="cl-view-display">
    <div>
      <label>ชื่อผู้ขาย/รับจ้าง : </label>
      <span>{{ item.vendor }}</span>
    </div>
    <div>
      <label>ที่อยู่ : </label>
      <span>{{ item.vendorAddress }}</span>
    </div>
    <div>
      <label>ผู้ติดต่อ : </label>
      <span>{{ item.vendorContactInformation }}</span>
    </div>
  </cs-section-block>

  <cs-section-block header="4.ข้อมูลสินค้า" level="4">
    <div class="cl-view-display">
      <div>
        <label>วันที่ต้องการ : </label>
        <span>{{ item.wantedDate }}</span>
      </div>
      <div>
        <label>BOQ : </label>
        <span>{{ item.boq.name }}</span>
      </div>
      <div>
        <label>ประเภทรายการต้นทุน : </label>
        <span>{{ item.budgetType.name }}</span>
      </div>
    </div>
    <div>
      <div fxHide.xs fxLayout="row">
        <div fxFlex="60px" style="text-align: center;">ลำดับ</div>
        <div fxFlex style="text-align: center;">รายการสินค้า</div>
        <div fxFlex="100px" style="text-align: center;">หน่วย</div>
        <div fxFlex="120px" style="text-align: center;">ราคา/หน่วย</div>
        <div fxFlex="120px" style="text-align: center;">ปริมาณ</div>
        <div fxFlex="120px" style="text-align: center;">ราคารวม</div>
      </div>
      <div *ngFor="let detail of item.details; let i = index"
        fxLayout="row" fxLayout.xs="column">
        <div fxFlex="60px" fxFlex.xs="auto" style="text-align: center;">{{ i+1 }}</div>
        <div fxFlex fxFlex.xs="auto" fxLayout="column">
          <div>{{ detail.name }}</div>
          <div>Budget</div>

          <div>{{ detail.remark }}</div>
        </div>
        <div fxFlex="100px" fxFlex.xs="auto" style="text-align: center;">{{ detail.unit }}</div>
        <div fxFlex="120px" fxFlex.xs="auto" class="cl-number">{{ detail.price }}</div>
        <div fxFlex="120px" fxFlex.xs="auto" class="cl-number">{{ detail.quantity }}</div>
        <div fxFlex="120px" fxFlex.xs="auto" class="cl-number">{{ (detail.price * detail.quantity).toFixed(2) }}</div>
      </div>
    </div>-->
  <!--
    <item-data-array formArrayName="details" [createItemCallback]="createDetail" required activeMedia>
      <item-data-array-item *ngFor="let item of form.get('details').controls; let i=index" [index]="i"
        [layout]="row">
        <div [formGroupName]="i" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
          <div fxLayout="column" fxFlex fxFlex.xs="auto" [style.gt-xs]="{borderRight: '1px solid black'}">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
              <cs-cost-item-control formControlName="_costItem" placeholder="รายการสินค้า{{ getCostItemPlaceholderSuffix(i) }}" freeEnter fxFlex.gt-md></cs-cost-item-control>
              <mat-form-field fxFlex="120px" fxFlex.lt-md>
                <input matInput formControlName="unit" placeholder="หน่วย" required />
              </mat-form-field>
              <mat-form-field fxFlex="120px" fxFlex.lt-md>
                <input type="number" matInput step="0.01" formControlName="price" placeholder="ราคา/หน่วย" required />
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
              <cs-project-boq-data-control formControlName="boqData" [projectBoq]="form.get('boq').value" fxFlex.gt-md></cs-project-boq-data-control>
              <mat-form-field fxFlex.lt-md>
                <input matInput formControlName="remark" placeholder="หมายเหตุ" />
                <mat-error>
                  <cs-form-control-error></cs-form-control-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
            <mat-form-field fxFlex="120px" fxFlex.lt-md>
              <input type="number" matInput step="0.01" formControlName="quantity" placeholder="ปริมาณ" required />
            </mat-form-field>
            <mat-form-field fxFlex="120px" fxFlex.lt-md>
              <input type="number" matInput step="0.01" formControlName="_total" readonly placeholder="ราคารวม" />
            </mat-form-field>
          </div>
        </div>
      </item-data-array-item>
    </item-data-array>
    -->
  <!--</cs-section-block>-->
  <!--
  <pre>{{ item | i3eJson }}</pre>
  -->

  <!--<div class="container">-->


    <br>
    <h4>1.ข้อมูลโครงการ</h4>
    <div class="label-input-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <!--<div class="card">-->
        <!--<label class="card-header"><label class="text-dark"></label></label>-->
        <!--<div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">-->

          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <p class="text-secondary">ชื่อโครงการ</p>
              <input type="text" class="form-control" value="{{ item.project }}" readonly>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <p class="text-secondary">ที่อยู่จัดส่ง</p>
              <input type="text" class="form-control" value="{{ item.project.address }}" readonly>
            </div>
          </div>
        <!--</div>-->
      <!--</div>-->
    </div>

    <br>
    <h4>2.ข้อมูลผู้ขอ</h4>


    <div class="label-input-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <!--<div class="card">-->
        <!--<label class="card-header"><label class="text-dark"></label></label>-->
        <!--<div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">-->

          <div class="row">
            <div class="label-input-form col-sm-12 col-md-6 col-lg-6">
              <p class="text-secondary">พนักงาน</p>
              <input type="text" class="form-control" value="{{ item.requester }}" readonly>
            </div>
            <div class="label-input-form col-sm-12 col-md-6 col-lg-6">
              <p class="text-secondary">ผู้ติดต่อ</p>
              <input type="text" class="form-control" value="{{ item.contactInformation }}" readonly>
            </div>
          </div>
        <!--</div>-->
      <!--</div>-->
    </div>

    <br>
    <h4>3.ข้อมูลผู้ขาย/รับจ้าง/เช่า</h4>

    <div class="label-input-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <!--<div class="card">-->
        <!--<label class="card-header"><label class="text-dark"></label></label>-->
        <!--<div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">-->

          <div class="row">
            <div class="label-input-form col-sm-12 col-md-6 col-lg-6">
              <p class="text-secondary">ผู้ขาย</p>
              <input type="text" class="form-control" value="{{ item.vendor }}" readonly>
            </div>
            <div class="label-input-form col-sm-12 col-md-6 col-lg-6">
              <p class="text-secondary">ผู้ติดต่อ</p>
              <input type="text" class="form-control" value="{{ item.vendorContactInformation }}" readonly>
            </div>
          </div>

        <!--</div>-->
      <!--</div>-->
    </div>
    <br>
    <h4>4.ข้อมูลสินค้า</h4>

    <div class="label-input-form col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-2">

      <!--<div class="card">-->
        <!--<label class="card-header"><label class="text-dark"></label></label>-->
        <!--<div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">-->



          <div class="row">

            <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
              <p class="text-secondary">วันที่ต้องการ</p>
              <input type="text" class="form-control" value="{{ item.wantedDate }}" readonly>
            </div>

            <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
              <p class="text-secondary">BOQ</p>
              <input type="text" class="form-control" value="{{ item.boq.name }}" readonly>
            </div>

            <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
              <p class="text-secondary">ประเภทรายการต้นทุน</p>
              <input type="text" class="form-control" value="{{ item.budgetType.name}}" readonly>
            </div>



          </div>

          <div class="d-none d-md-block">

            <div class="row">

              <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
                <p class="text-secondary">รายการสินค้า</p>

              </div>
              <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
                <p class="text-secondary">หน่วย</p>

              </div>
              <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
                <p class="text-secondary">ราคา/หน่วย</p>

              </div>
              <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
                <p class="text-secondary">ปริมาณ</p>

              </div>
              <div class="label-input-form col-sm-12 col-md-2 col-lg-2">

                <p class="text-secondary">ราคารวม</p>

              </div>
            </div>
          </div>


          <div *ngFor="let detail of item.details">
          <div class="row" style="padding-bottom: 2px">

            <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
              <!--<p class="text-secondary">รายการสินค้า</p>-->
              <input type="text" class="form-control" value="{{ detail.name }}" readonly>
              <div class="container">

                <div class="row">
                  <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
                    <p class="text-secondary">Budget</p>
                  </div>
                </div>

                <div class="row">
                  <!--<div class="col-sm-12 col-md-4 col-lg-4" *ngIf="detail.remark; else elseBlock">-->
                  <div class=" label-input-form col-sm-12 col-md-4 col-lg-4" *ngIf="detail.remark">
                    <p class="text-secondary">{{ detail.remark }}</p>
                  </div>
                  <!--<ng-template #elseBlock>No Remark</ng-template>-->

                </div>

              </div>
            </div>
            <div class=" label-input-form col-sm-12 col-md-2 col-lg-2">
              <!--<p class="text-secondary">หน่วย</p>-->
              <input type="text" class="form-control" value="{{ detail.unit }}" readonly>
            </div>
            <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
              <!--<p class="text-secondary">ราคา/หน่วย</p>-->
              <input type="text" class="form-control" value="{{ detail.unit }}" readonly>
            </div>
            <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
              <!--<p class="text-secondary">ปริมาณ</p>-->
              <input type="text" class="form-control" value="{{ detail.quantity }}" readonly>
            </div>
            <div class="label-input-form col-sm-12 col-md-2 col-lg-2">

              <!--<p class="text-secondary">ราคารวม</p>-->
              <input type="text" class="form-control" value="{{ (detail.price * detail.quantity).toFixed(2) }}" readonly>
            </div>
          </div>

          </div>
        

          <!--
          </div>-->
        <!--</div>-->
      <!--</div>-->
    </div>



  <!--</div>-->



</cs-data-view>