<cs-data-list i3eParentProcessor>

  <div class="container">
    
      <div class="col-sm-12 col-md-12 col-lg-12">


        <div *ngIf="items">
          <item-not-found *ngIf="items.length === 0" [subtitle]="(itemQuery.term)? 'for: ' + itemQuery.term : 'No any data'"></item-not-found>

          <div *ngFor="let item of items; let inx = index">
          <mat-nav-list>
             <div class="box-card-10">
              <a mat-list-item [csDataListSelected]="[item.id]">

                <mat-icon mat-list-icon>person</mat-icon>
                <h3 mat-line>{{ item.code }} {{ item.type }} {{ item.name }}</h3>
                <div mat-line class="list-second-line">{{ item.price }} / {{ item.unit }} ({{ item.description }})</div>

              </a>
           </div>
          </mat-nav-list>
           </div>
        </div>

      </div>
   
  </div>
</cs-data-list>