<cs-data-view *ngIf="item" i3eParentProcessor>

  <div class="box-card-20">

    <div class="label-input-form  col-xs-12 col-sm-12 col-md-12 col-ls-12">
      <h3>ข้อมูลสินค้า</h3>

      <div class="card">
        <label class="card-header">{{ item.name }}</label>
        <div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">

          <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12">

              <br>
              <div class="row">
                <div class="label-input-form col-sm-12 col-md-12 col-lg-12">
                  <label class="text-dark">รหัสสินค้า</label>
                  <input type="text" class="form-control" value="{{ item.code }}" readonly>
                </div>
                <!-- <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
          </div>
          <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
            </div> -->
              </div>

              <br>
              <div class="row">
                <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
                  <label class="text-dark">ชื่อสินค้า</label>
                  <input type="text" class="form-control" value="{{ item.name }}" readonly>
                </div>
                <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
                  <label class="text-dark">หน่วย</label>
                  <input type="text" class="form-control" value="{{ item.unit }}" readonly>
                </div>
                <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
                  <label class="text-dark">ราคา/หน่วย</label>
                  <input type="text" class="form-control" value="{{ item.price }}" readonly>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="label-input-form col-sm-12 col-md-12 col-lg-12">
                  <label class="text-dark">รายละเอียด</label>
                  <textarea class="form-control" readonly>{{ item.description }}</textarea>
                </div>

              </div>

              <br>
              <div class="row">
                <div class="label-input-form col-sm-12 col-md-12 col-lg-12">
                  <label class="text-dark">หมายเหตุ</label>
                  <textarea class="form-control" readonly>{{ item.remark }}</textarea>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div class="cl-view-display">
    <div>
      <label>รหัสสินค้า : </label>
      <span>{{ item.code }}</span>
    </div>
    <div>
      <label>ชื่อสินค้า : </label>
      <span>{{ item.name }}</span>
    </div>
    <div>
      <label>หน่วย : </label>
      <span>{{ item.unit }}</span>
    </div>
    <div>
      <label>ราคา/หน่วย : </label>
      <span>{{ item.price }}</span>
    </div>
    <div>
      <label>รายละเอียด : </label>
      <span>{{ item.description }}</span>
    </div>
    <div>
      <label>หมายเหตุ : </label>
      <span>{{ item.remark }}</span>
    </div>
  </div>
  <pre>{{ item | json }}</pre>-->

 


</cs-data-view>