<br>
<div class="container">
  <div class="box-card-20">
    <cs-data-form *ngIf="form" i3eParentProcessor [formGroup]="form" i3eObservableCacheStorage>

      <cs-cost-item-type-ref-control formControlName="type" i3eObservableCache="type"></cs-cost-item-type-ref-control>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
        <mat-form-field fxFlex.gt-xs="200px">
          <span matPrefix>CI</span>
          <input type="text" matInput formControlName="_code" placeholder="รหัสสินค้า" />
          <mat-error>
            <cs-form-control-error></cs-form-control-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs>
          <input type="text" matInput formControlName="name" placeholder="ชื่อสินค้า" />
          <mat-error>
            <cs-form-control-error></cs-form-control-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="120px">
          <input type="text" matInput formControlName="unit" placeholder="หน่วย" />
          <mat-error>
            <cs-form-control-error></cs-form-control-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-xs="120px">
          <input type="number" matInput formControlName="price" step="0.01" placeholder="ราคา/หน่วย" />
          <mat-error>
            <cs-form-control-error></cs-form-control-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field fxFlex>
          <textarea matInput formControlName="description" placeholder="รายละเอียด" rows="5"></textarea>
          <mat-error>
            <cs-form-control-error></cs-form-control-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-form-field fxFlex>
          <textarea matInput formControlName="remark" placeholder="หมายเหตุ" rows="5"></textarea>
          <mat-error>
            <cs-form-control-error></cs-form-control-error>
          </mat-error>
        </mat-form-field>
      </div>


      <!-- //------ End old design ------- -->

      <!-- <div class="box-card-20">
    
      <h4>2.ข้อมูลสินค้า</h4>
          <hr>
        <div class="container">
          <div class="col-sm-12 col-md-12 col-lg-12">
            
                <br>
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4">
                          <label class="text-dark">รหัสสินค้า</label>
                          <input type="text" class="form-control" value="{{ item.code }}" readonly>
                  </div>  
                  <div class="col-sm-12 col-md-4 col-lg-4">               
                  </div>  
                  <div class="col-sm-12 col-md-4 col-lg-4"></div>
                </div>
    
                  <br>
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4">
                        <label class="text-dark">ชื่อสินค้า</label>
                        <input type="text" class="form-control" value="{{ item.name }}" readonly>
                  </div>  
                  <div class="col-sm-12 col-md-4 col-lg-4">     
                        <label class="text-dark">หน่วย</label>
                        <input type="text" class="form-control" value="{{ item.unit }}" readonly>          
                  </div>  
                  <div class="col-sm-12 col-md-4 col-lg-4">
                        <label class="text-dark">ราคา/หน่วย</label>
                        <input type="text" class="form-control" value="{{ item.price }}" readonly>   
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="text-dark">รายละเอียด</label>
                        <textarea class="form-control" readonly>{{ item.description }}</textarea>
                  </div>  
                  
              </div>
    
              <br>
              <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="text-dark">หมายเหตุ</label>
                        <textarea class="form-control" readonly>{{ item.remark }}</textarea>
                  </div>  
                  
              </div>
          </div>
        </div>
    </div>
     -->

    </cs-data-form>
  </div>
</div>