/*
:host {
  display: block;
  box-sizing: border-box;
}
*/

.component-container {
  width: 100%;
}

/*
.cp-search {
  width: 100%;
}
*/

.option-container {
  height: 100%;
}
.option-content-container {
  font-size: 75%;

}

.option-line {
  line-height: 125%;
}

.option-second-line {
  color: gray;
}
