<div [formGroup]="formGroup">

  <div fxLayout="row" fxLayout.lt-xl="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
      <mat-form-field fxFlex="180px" fxFlex.xs="auto">
        <input matInput formControlName="code" placeholder="เลขที่บัญชี" required />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex fxFlex.xs="auto">
        <input matInput formControlName="name" placeholder="ชื่อบัญชี" required />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="200px" fxFlex.xs="auto">
        <input matInput formControlName="category" placeholder="ประเภท" required />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
      <mat-form-field fxFlex fxFlex.xs="auto">
        <input matInput formControlName="bank" placeholder="ธนาคาร" required />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="200px" fxFlex.xs="auto">
        <input matInput formControlName="branch" placeholder="สาขา" required />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</div>

<!--

<div [formGroup]="formGroup" fxLayout="row" fxLayout.xs="column">
  <div fxFlex="1 1 auto" fxLayout="row" fxLayout.lt-xl="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
    <div fxFlex="1 1 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
      <mat-form-field fxFlex="200px" fxFlex.xs>
        <input matInput formControlName="code" placeholder="เลขที่บัญชี" />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="1 0 200px" fxFlex.xs>
        <input matInput formControlName="name" placeholder="ชื่อบัญชี" />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
      <mat-form-field fxFlex="100px" fxFlex.xs>
        <input matInput formControlName="category" placeholder="ประเภท" />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="200px" fxFlex.lt-xl="1 0 200px" fxFlex.xs>
        <input matInput formControlName="bank" placeholder="ธนาคาร" />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="200px" fxFlex.lt-xl="1 0 200px" fxFlex.xs>
        <input matInput formControlName="branch" placeholder="สาขา" />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</div>

-->
