<br>
<div class="container">
  <div class="box-card-20">
    <cs-data-form *ngIf="form" [formGroup]="form" i3eParentProcessor>

  
      <cs-section-block header="ข้อมูลบุคคลธรรมดา" level="3">
     
      
        <cs-section-block header="1.ข้อมูลบัตรประจำตัวประชาชน">
          <cs-citizen formGroupName="personData"></cs-citizen>
        </cs-section-block>
      
        <cs-section-block header="2.ข้อมูลติดต่อ">
          <cs-address formGroupName="address"></cs-address>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
            <mat-form-field fxFlex="240px" fxFlex.xs>
              <input matInput formControlName="phone" placeholder="โทรศัพท์" />
              <mat-error>
                <cs-form-control-error></cs-form-control-error>
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="240px" fxFlex.xs>
              <input matInput formControlName="fax" placeholder="แฟ็กซ์" />
              <mat-error>
                <cs-form-control-error></cs-form-control-error>
              </mat-error>
            </mat-form-field>
          </div>
          <cs-contact formGroupName="contact"></cs-contact>
        </cs-section-block>

        <cs-section-block header="3.ข้อมูลบัญชีธนาคาร">
          <cs-bank-account-array formArrayName="bankAccounts"></cs-bank-account-array>
        </cs-section-block>

      </cs-section-block>

    </cs-data-form>
  </div>
</div>

<div class="container">
  <div class="box-card-20">

  </div>
</div>