<cs-searchable-item-control [freeEnter]="freeEnter" style="width: 100%;"
  [formControl]="control" [autocomplete]="itemsAutoComplete" [readonly]="readonly"
  [placeholder]="placeholder || 'โครงการ' + ((value?.code)? ' (' + value.code + ')' : '')"
  (searchChange)="search($event)" (dataTouch)="markAsTouched()">
  <mat-autocomplete #itemsAutoComplete="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let item of items$ | async" [value]="item">{{ item }}</mat-option>
  </mat-autocomplete>
</cs-searchable-item-control>
