<cs-data-view *ngIf="item" i3eParentProcessor>
  <!--<cs-section-block header="ข้อมูลใบขอซื้อ" level="3">
    <cs-section-block header="1.ข้อมูลโครงการ" level="4" class="cl-view-display">
      <div>
        <label>ชื่อโครงการ : </label>
        <span>{{ item.project }}</span>
      </div>
      <div>
        <label>ที่อยู่จัดส่ง : </label>
        <span>{{ item.project.address }}</span>
      </div>
    </cs-section-block>

    <cs-section-block header="2.ข้อมูลผู้ขอ" level="4" class="cl-view-display">
      <div>
        <label>พนักงาน : </label>
        <span>{{ item.requester }}</span>
      </div>
      <div>
        <label>ผู้ติดต่อ : </label>
        <span>{{ item.contactInformation }}</span>
      </div>
    </cs-section-block>

    <cs-section-block header="3.ข้อมูลผู้ขาย/รับจ้าง/เช่า" level="4" class="cl-view-display">
      <div>
        <label>ผู้ขาย : </label>
        <span>{{ item.vendor }}</span>
      </div>
      <div>
        <label>ผู้ติดต่อ : </label>
        <span>{{ item.vendorContactInformation }}</span>
      </div>
    </cs-section-block>

    <cs-section-block header="4.ข้อมูลสินค้า" level="4">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
        <div>
          <label>วันที่ต้องการ : </label>
          <span>{{ item.wantedDate }}</span>
        </div>
        <div>
          <label>BOQ : </label>
          <span>{{ item.boq.name }}</span>
        </div>
        <div>
          <label>ประเภทรายการต้นทุน : </label>
          <span>{{ item.budgetType.name }}</span>
        </div>
      </div>
      <div>
        <div fxHide.xs fxLayout="row">
          <div fxFlex></div>
          <div fxFlex="120px">ปริมาณ</div>
          <div fxFlex="120px">ราคารวม</div>
        </div>
        <div *ngFor="let detail of item.details"
          fxLayout="row" fxLayout.xs="column">
          <div fxFlex fxFlex.lt-md="auto">
            <div fxLayout="row" fxLayout.lt-md="column">
              <div fxFlex fxFlex.lt-md="auto">
                <label>รายการสินค้า</label>
                <span>{{ detail.name }}</span>
              </div>
              <div fxFlex="120px" fxFlex.lt-md="auto">
                <label>หน่วย</label>
                <span>{{ detail.unit }}</span>
              </div>
              <div fxFlex="120px" fxFlex.lt-md="auto">
                <label>ราคา/หน่วย</label>
                <span>{{ detail.price }}</span>
              </div>
            </div>
            <div fxLayout="row" fxLayout.lt-md="column"></div>
          </div>
          <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="120px" fxFlex.xs="auto">{{ detail.quantity }}</div>
            <div fxFlex="120px" fxFlex.xs="auto">{{ (detail.price * detail.quantity).toFixed(2) }}</div>
          </div>
        </div>
      </div>-->
  <!--
      <item-data-array formArrayName="details" [createItemCallback]="createDetail" required activeMedia>
        <item-data-array-item *ngFor="let item of form.get('details').controls; let i=index" [index]="i"
          [layout]="row">
          <div [formGroupName]="i" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
            <div fxLayout="column" fxFlex fxFlex.xs="auto" [style.gt-xs]="{borderRight: '1px solid black'}">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                <cs-cost-item-control formControlName="_costItem" placeholder="รายการสินค้า{{ getCostItemPlaceholderSuffix(i) }}" freeEnter fxFlex.gt-md></cs-cost-item-control>
                <mat-form-field fxFlex="120px" fxFlex.lt-md>
                  <input matInput formControlName="unit" placeholder="หน่วย" required />
                </mat-form-field>
                <mat-form-field fxFlex="120px" fxFlex.lt-md>
                  <input type="number" matInput step="0.01" formControlName="price" placeholder="ราคา/หน่วย" required />
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                <cs-project-boq-data-control formControlName="boqData" [projectBoq]="form.get('boq').value" fxFlex.gt-md></cs-project-boq-data-control>
                <mat-form-field fxFlex.lt-md>
                  <input matInput formControlName="remark" placeholder="หมายเหตุ" />
                  <mat-error>
                    <cs-form-control-error></cs-form-control-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
              <mat-form-field fxFlex="120px" fxFlex.lt-md>
                <input type="number" matInput step="0.01" formControlName="quantity" placeholder="ปริมาณ" required />
              </mat-form-field>
              <mat-form-field fxFlex="120px" fxFlex.lt-md>
                <input type="number" matInput step="0.01" formControlName="_total" readonly placeholder="ราคารวม" />
              </mat-form-field>
            </div>
          </div>
        </item-data-array-item>
      </item-data-array>
      -->
  <!--</cs-section-block>

  </cs-section-block>-->
  <!--<pre>{{ item | i3eJson }}</pre>-->

  <div class="container">



    <br>
    <h4>1.ข้อมูลโครงการ</h4>

    <div class="label-input-form col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <!--<label class="card-header"><label class="text-dark"></label></label>-->
        <div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">
          <div class="row">
            <div class="label-input-form col-sm-12 col-md-6 col-lg-6">
              <label class="text-dark">ชื่อโครงการ</label>
              <input type="text" class="form-control" value="{{ item.project }}" readonly>
            </div>
          </div>
          <div class="row">
            <div class="label-input-form col-sm-12 col-md-12 col-lg-12">
              <label class="text-dark">ที่อยู่จัดส่ง</label>
              <textarea class="form-control" rows="5" readonly>{{ item.project.address }}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <h4>2.ข้อมูลผู้ขอ</h4>


    <div class="label-input-form col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <!--<label class="card-header"><label class="text-dark"></label></label>-->
        <div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">
          <div class="row">
            <div class="label-input-form col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <label class="text-dark">พนักงาน</label>
              <input type="text" class="form-control" value="{{ item.requester }}" readonly>
            </div>
            <div class="label-input-form col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <label class="text-dark">ผู้ติดต่อ</label>
              <input type="text" class="form-control" value="{{ item.contactInformation }}" readonly>
            </div>

          </div>
        </div>
      </div>
    </div>

    <br>
    <h4>3.ข้อมูลผู้ขาย/รับจ้าง/เช่า</h4>
    <div class="label-input-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="card">
        <!--<label class="card-header"><label class="text-dark"></label></label>-->
        <div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">

          <div class="row">
            <div class="label-input-form col-sm-12 col-md-6 col-lg-6">
              <label class="text-dark">ผู้ขาย</label>
              <input type="text" class="form-control" value="{{ item.vendor }}" readonly>
            </div>
            <div class="label-input-form col-sm-12 col-md-6 col-lg-6">
              <label class="text-dark">ผู้ติดต่อ</label>
              <input type="text" class="form-control" value="{{ item.vendorContactInformation }}" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>



    <br>

    <h4>4.ข้อมูลสินค้า</h4>
    <div class="label-input-form col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="card">
        <!--<label class="card-header"><label class="text-dark"></label></label>-->
        <div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">


          <div class="row">



            <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
              <label class="text-secondary">วันที่ต้องการ</label>
              <input type="text" class="form-control" value="{{ item.wantedDate }}" readonly>
            </div>

            <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
              <label class="text-secondary">BOQ</label>
              <input type="text" class="form-control" value="{{ item.boq.name }}" readonly>
            </div>

            <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
              <label class="text-secondary">ประเภทรายการต้นทุน</label>
              <input type="text" class="form-control" value="{{ item.budgetType.name}}" readonly>
            </div>

          </div>

        </div>
      </div>
      <br>




      <div class="d-none d-md-block">
        <div class="container">
          <div class="row">

            <div class="label-input-form col-sm-12 col-md-1 col-lg-1">

              <label class="text-dark">ลำดับ</label>

            </div>

            <div class="label-input-form col-sm-12 col-md-4 col-lg-4">

              <label class="text-dark">รายการสินค้า</label>

            </div>
            <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
              <label class="text-dark">หน่วย</label>

            </div>
            <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
              <label class="text-dark">ราคา/หน่วย</label>

            </div>
            <div class="label-input-form col-sm-12 col-md-1 col-lg-1">
              <label class="text-dark">ปริมาณ</label>

            </div>
            <div class="label-input-form col-sm-12 col-md-2 col-lg-2">

              <label class="text-dark">ราคารวม</label>

            </div>
          </div>
        </div>
      </div>



      <div *ngFor="let detail of item.details; let i = index">
        <div class="card">
          <!--<label class="card-header"><label class="text-dark"></label></label>-->
          <div class="card-block" style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px">





            <div class="row" style="padding-bottom: 2px">

              <div class="label-input-form col-sm-12 col-md-1 col-lg-1">


                <!--<label class="text-secondary"></label>-->
                <input type="text" class="form-control" style="text-align: center" value="{{ i + 1 }}" readonly>
                <!--<span class="badge badge-pill badge-info" style="text-align: center"> {{ i + 1 }}</span>-->

              </div>






              <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
                <div class="d-block d-sm-none">
                  <label class="text-secondary">รายการสินค้า</label>
                </div>
                <textarea class="form-control" readonly>{{ detail.name }}</textarea>

                <!--<div class="container">

                  <div class="row">
                    <div class="d-block d-sm-none">
                      <label class="text-dark">Budget</label>
                    </div>
                    <textarea class="form-control" readonly>{{ detail.budget }}</textarea>
                  </div>
                </div>


                <div class="row" *ngIf="detail.remark">

                  <div class="label-input-form col-sm-12 col-md-4 col-lg-4">
                    <div class="d-block d-sm-none">
                      <label class="text-secondary">หมายเหตุ</label>
                    </div>
                    <textarea class="form-control" readonly>{{ detail.remark }}</textarea>
                    <div class="container">

                    </div>
                  </div>

                </div>-->
              </div>


              <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
                <div class="d-block d-sm-none">
                  <label class="text-secondary">หน่วย</label>
                </div>
                <input type="text" class="form-control input-sm" value="{{ detail.unit }}" readonly>
              </div>


              <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
                <div class="d-block d-sm-none">
                  <label class="text-secondary">ราคา/หน่วย</label>
                </div>
                <input type="text" class="form-control input-sm" style="text-align:right;" value="{{ detail.price }}" readonly>
              </div>
              <div class="label-input-form col-sm-12 col-md-1 col-lg-1">
                <div class="d-block d-sm-none">
                  <label class="text-secondary">ปริมาณ</label>
                </div>
                <!--<label class="text-dark">ปริมาณ</label>-->
                <input type="text" class="form-control input-sm" style="text-align:right;" value="{{ detail.quantity }}" readonly>
              </div>
              <!--
            <div class="label-input-form col-sm-12 col-md-2 col-lg-2">


              <div class="d-block d-sm-none">
                <label class="text-secondary">ต้นทุนกิจกรรม</label>
              </div>
              <textarea class="form-control" readonly>{{ detail.budget }}</textarea>

            </div>


            <div *ngIf="detail.remark">

              <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
                <div class="d-block d-sm-none">
                  <label class="text-secondary">หมายเหตุ</label>
                </div>
                <textarea class="form-control" readonly>{{ detail.remark }}</textarea>

              </div>

            </div>-->






              <div class="label-input-form col-sm-12 col-md-2 col-lg-2">
                <div class="d-block d-sm-none">
                  <label class="text-secondary">ราคารวม</label>
                </div>
                <!--<label class="text-dark">ราคารวม</label>-->
                <input type="text" class="form-control input-sm" style="text-align:right;" value="{{ (detail.price * detail.quantity).toFixed(2) }}"
                  readonly>
              </div>
            </div>



          </div>

        </div>
      </div>

    </div>

  </div>


</cs-data-view>