<cs-data-form *ngIf="form" i3eParentProcessor [formGroup]="form">

  <cs-section-block header="ข้อมูลใบขอซื้อ" level="3">

    <cs-section-block header="1.ข้อมูลโครงการ" level="4">
      <cs-project-control formControlName="project"></cs-project-control>
      <mat-form-field style="width: 100%;">
        <textarea matInput formControlName="shippingAddress" placeholder="ที่อยู่จัดส่ง" required rows="3"></textarea>
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
    </cs-section-block>

    <cs-section-block header="2.ข้อมูลผู้ขอ" level="4">
      <cs-employee-control formControlName="requester"></cs-employee-control>
      <mat-form-field style="width: 100%;">
        <input matInput formControlName="contactInformation" placeholder="ผู้ติดต่อ" required />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
    </cs-section-block>

    <cs-section-block header="3.ข้อมูลผู้ขาย/รับจ้าง/เช่า" level="4">
      <cs-vendor-control formControlName="vendor"></cs-vendor-control>
      <mat-form-field style="width: 100%;">
        <input matInput formControlName="vendorContactInformation" placeholder="ผู้ติดต่อ" />
        <mat-error>
          <cs-form-control-error></cs-form-control-error>
        </mat-error>
      </mat-form-field>
    </cs-section-block>

    <cs-section-block header="4.ข้อมูลสินค้า" level="4" i3eDataLoader="existing" [existingData]="form.get('project').value" csProjectItemLoader>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
        <mat-form-field fxFlex.gt-xs="160px">
          <input type="date" matInput formControlName="wantedDate" placeholder="วันที่ต้องการ" style="width: 100%;" required />
        </mat-form-field>

        <cs-project-boq-control formControlName="boq" fxFlex.gt-xs="240px"></cs-project-boq-control>

        <cs-project-boq-budget-type-control formControlName="budgetType" [projectBoq]="form.get('boq').value" fxFlex.gt-xs="240px"></cs-project-boq-budget-type-control>

      </div>
      <item-data-array formArrayName="details" [createItemCallback]="createDetail" required activeMedia>
        <item-data-array-item *ngFor="let item of form.get('details').controls; let i=index" [index]="i"
          [layout]="row">
          <div [formGroupName]="i" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px"
            [ngStyle]="(item.get('statusChanged.removed').value)? {backgroundColor: 'gray'} : {}">
            <div fxLayout="column" fxFlex fxFlex.xs="auto" [style.gt-xs]="{borderRight: '1px solid black'}">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                <div *ngIf="item.get('statusChanged').value?.purchaseRequestDetail" formGroupName="statusChanged">
                  <button type="button" mat-icon-button
                    matTooltip="mark as removed"
                    [color]="(item.get('statusChanged.removed').value)? 'warn' : null"
                    (click)="toggleRemoved(item)">
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </div>
                <cs-cost-item-control formControlName="costItem" placeholder="รายการสินค้า{{ getCostItemPlaceholderSuffix(i) }}" fxFlex.gt-md>
                  <span class="cs-hint-message">{{ getCostItemHint(item) }}</span>
                  <cs-error-message class="cs-error-message"></cs-error-message>
                </cs-cost-item-control>
                <mat-form-field fxFlex="120px" fxFlex.lt-md>
                  <input matInput formControlName="_unit" placeholder="หน่วย" readonly />
                </mat-form-field>
                <mat-form-field fxFlex="120px" fxFlex.lt-md>
                  <input type="number" matInput step="0.01" formControlName="price" placeholder="ราคา/หน่วย" required />
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="0px">
                <cs-project-boq-data-control formControlName="boqData" [projectBoq]="form.get('boq').value" fxFlex.gt-md></cs-project-boq-data-control>
                <mat-form-field fxFlex.lt-md>
                  <input matInput formControlName="remark" placeholder="หมายเหตุ" />
                  <mat-error>
                    <cs-form-control-error></cs-form-control-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0px">
              <mat-form-field fxFlex="120px" fxFlex.xs="auto">
                <input type="number" matInput step="0.01" formControlName="quantity" placeholder="ปริมาณ" required />
              </mat-form-field>
              <mat-form-field fxFlex="120px" fxFlex.xs="auto">
                <input type="number" matInput step="0.01" formControlName="_total" readonly placeholder="ราคารวม" />
              </mat-form-field>
            </div>
          </div>
        </item-data-array-item>
      </item-data-array>
      <div fxLayout="row" fxLayout.xs="column" i3eObservableCacheStorage>
        <div fxLayout="column" fxFlex fxFlex.xs="auto">
          <div fxLayout="column">
            <div fxFlex="0 0 198.75px" fxFlex.xs="0 0 0px"></div>
            <div fxLayout="column">
              <div fxLayout="row">
                <mat-radio-group formControlName="vatFactor" fxLayout="row" fxFlex="0 0 240px" fxFlex.xs fxLayoutGap="16px" class="mat-input-like">
                  <mat-radio-button [value]="false">ไม่มี vat</mat-radio-button>
                  <mat-radio-button [value]="true">มี vat</mat-radio-button>
                </mat-radio-group>
                <mat-form-field fxFlex="120px" [hidden]="!form.get('vatFactor').value">
                  <input type="number" matInput step="0.01" formControlName="vat" placeholder="vat" i3eDataLoader="csSettingItemByCode" code="VAT" [csDefaultValue]="getVat" i3eObservableCache="vat" />
                  <span matSuffix>%</span>
                </mat-form-field>
              </div>
              <div [hidden]="form.get('vatFactor').value" fxFlex="66.25px" fxFlex.xs="0 0 0px"></div>
              <div [hidden]="!form.get('vatFactor').value" fxLayout="row">
                <mat-radio-group formControlName="vatIncluded" fxLayout="row" fxLayoutGap="16px" fxFlex class="mat-input-like">
                  <mat-radio-button [value]="true">ราคาสินค้ารวม vat</mat-radio-button>
                  <mat-radio-button [value]="false">ราคาสินค้าไม่รวม vat</mat-radio-button>
                </mat-radio-group>
              </div>
              <div fxFlex="0 0 66.25px" fxFlex.xs="0 0 0px"></div>
            </div>
            <div fxLayout="column">
              <div fxLayout="column">
                <div fxLayout="row">
                  <mat-radio-group formControlName="taxFactor" fxLayout="row" fxFlex="0 0 360px" fxFlex.xs fxLayoutGap="16px" class="mat-input-like">
                    <mat-radio-button [value]="false">ไม่มีภาษีหัก ณ ที่จ่าย</mat-radio-button>
                    <mat-radio-button [value]="true">มีภาษีหัก ณ ที่จ่าย</mat-radio-button>
                  </mat-radio-group>
                  <cs-setting-tax-control formControlName="tax" fxFlex="160px" [hidden]="!form.get('taxFactor').value"></cs-setting-tax-control>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="240px" fxFlex.xs="auto">
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <input type="number" matInput step="0.01" formControlName="total" readonly placeholder="ราคารวมก่อนลด" />
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <input type="number" matInput step="0.01" formControlName="discount" placeholder="ส่วนลด" />
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <input type="number" matInput step="0.01" formControlName="costItemTotal" readonly placeholder="ราคารวมทั้งหมด" />
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <input type="number" matInput step="0.01" formControlName="vatCost" readonly placeholder="ภาษีมูลค่าเพิ่ม" />
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <input type="number" matInput step="0.01" formControlName="excludeVat" readonly placeholder="ราคาไม่รวม ภาษีมูลค่าเพิ่ม" />
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <input type="number" matInput step="0.01" formControlName="docTotal" readonly placeholder="ราคารวมทั้งหมด" />
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <input type="number" matInput step="0.01" formControlName="taxCost" readonly placeholder="ภาษีหัก ณ ที่จ่าย" />
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFlex>
              <input type="number" matInput step="0.01" formControlName="payTotal" readonly placeholder="ราคารวมที่ต้องจ่าย" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </cs-section-block>

  </cs-section-block>
</cs-data-form>
